<app-navbar></app-navbar>

<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <input type="text" appTolowercase class="form-control" />
      </div>
      <p appCssRenderer [hoverColor]="'tomato'">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia totam
        consectetur qui cumque, consequuntur impedit praesentium obcaecati
        error! Necessitatibus maxime dolorem ipsam iste inventore eveniet. Unde
        eum explicabo expedita numquam.
      </p>
      <p appCssRenderer [hoverColor]="'orange'">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia totam
        consectetur qui cumque, consequuntur impedit praesentium obcaecati
        error! Necessitatibus maxime dolorem ipsam iste inventore eveniet. Unde
        eum explicabo expedita numquam.
      </p>
      <p appCssRenderer [hoverColor]="'green'">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia totam
        consectetur qui cumque, consequuntur impedit praesentium obcaecati
        error! Necessitatibus maxime dolorem ipsam iste inventore eveniet. Unde
        eum explicabo expedita numquam.
      </p>
      <p appCssRenderer [hoverColor]="'yellow'">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia totam
        consectetur qui cumque, consequuntur impedit praesentium obcaecati
        error! Necessitatibus maxime dolorem ipsam iste inventore eveniet. Unde
        eum explicabo expedita numquam.
      </p>
      <p appCssRenderer [hoverColor]="'blueviolet'">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia totam
        consectetur qui cumque, consequuntur impedit praesentium obcaecati
        error! Necessitatibus maxime dolorem ipsam iste inventore eveniet. Unde
        eum explicabo expedita numquam.
      </p>
    </div>
  </div>
</div>
